body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EDF3FB;
}

.auth-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background: #CBE3EF;
  border-radius: 5px;
}

.auth-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background: #3A4163;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #3890c2;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-body {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #CBE3EF;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  flex: 1;
  padding: 20px;
}


